@{
      ViewData[ "Title" ] = "SinjulMSBHDetails";
}

<h2>SinjulMSBHDetails ..</h2>

@{
      var me = TempData["sinjulmsbhall"] as string;
      var medes = TempData.GetAlert();
}
@if ( medes.Count > 0 )
{
      <br />
      <div class="container">
            @foreach ( var alert in medes )
            {
                  <div class="@alert.Type alert-dismissible fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>@alert.Title .. !!!!</strong> @alert.Body
                  </div>
            }
      </div>
}
else
{
      <h1 class="text-warning text-center">َAlert NotFound .. !!!!</h1>
}